<footer class="site-footer">
    <!-- footer bottom part -->
    <div class="footer-bottom footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left"> <span>{:config('web_site_copyright')}</span> </div>
                <div class="col-md-4 text-center"> <!-- <span> Design With <i class="fa fa-heart text-primary heart"></i> By FGTI </span> --> </div>
                <div class="col-md-4 text-right ">
                    <a href="about.html"> {:lang('ABOUT US')}</a>
                    <!-- <a href="faq-1.php"> FAQs</a> -->
                    <a href="contact.html"> {:lang('CONTACT US')}</a> </div>
            </div>
        </div>
    </div>
</footer>
{:config('web_site_statistics')}